<form 
    [formGroup]="balanceForm" 
    (ngSubmit)="onDisplayBalance()"
    (keydown.enter)="$event.preventDefault()">
    <div class="form-fields">
        <mat-form-field>
            <input matInput type="text" placeholder="address" id="address" formControlName="address">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Blockchain node" id="blockchainNode" formControlName="blockchainNode">
        </mat-form-field>    
    </div>
    <div class="form-btns">
        <button mat-raised-button color="primary" [disabled]="balanceForm.invalid">Display Balance</button>
    </div>
</form>