// COLORS
$purple: #673ab7;
$light-purple: rgba(103, 58, 183, 0.7);
$red: #fc1503;
$light-grey: #dfdedd;
$textGrey: rgba(0,0,0,.7);
$headerGrey: rgba(0,0,0,.8);
// SIZES
$navbarHeight: 56px;
$footerHeight: 56px;
$smallDeviceBreakpoint: 700px;