@import 'src/sass/variables';

.flexbox {
    display: flex;
    flex-wrap: wrap;
    div {
        padding: 10px;
    }
    p {
        margin: 0 0 5px;
    }
}

#flex-container {
    display: flex;
    justify-content: space-between;
}

.custom-underline {
    width: 100%;
    height: 1px;
    display: block;
    background: $light-grey;
}

.flex-container-item {
    width: 49%;
    position: relative;
    min-height: 100%;
}

@media screen and (max-width: 1075px) {
    #flex-container {
        flex-direction: column
    };
    .flex-container-item {
        width: 100%;
        margin-bottom: 30px;
    }
}