@import 'src/sass/variables';

mat-card {
    display: flex;
    flex-wrap: wrap;
    div {
        padding: 20px;
    }
}

.custom-underline {
    width: 100%;
    height: 1px;
    display: block;
    background: $light-grey;
}