<mat-card>
    <p><b>About: </b>{{ info.about }}</p>
    <p><b>NodeId: </b>{{ info.nodeId }}</p>
    <p><b>ChainId: </b>{{ info.chainId }}</p>
    <p><b>NodeUrl: </b>{{ info.nodeUrl }}</p>
    <p><b>Peers: </b>{{ info.peers }}</p>
    <p><b>Current Difficulty: </b>{{ info.currentDifficulty }}</p>
    <p><b>Blocks Count: </b>{{ info.blocksCount }}</p>
    <p><b>Cumulative Difficulty: </b>{{ info.cumulativeDifficulty }}</p>
    <p><b>Confirmed Transactions: </b>{{ info.confirmedTransactions }}</p>
    <p><b>Pending Transactions: </b>{{ info.pendingTransactions }}</p>
</mat-card>