<mat-card>
    <div>
        <p><b>About</b></p>
        <p>{{ info?.about }}</p>
        <span class="custom-underline"></span>
    </div>
    <div>
        <p><b>NodeId</b></p>
        <p>{{ info?.nodeId }}</p>
        <span class="custom-underline"></span>
    </div>
    <div>
        <p><b>ChainId</b></p>
        <p>{{ info?.chainId }}</p>
        <span class="custom-underline"></span>
    </div>
    <div>
        <p><b>NodeUrl</b></p>
        <p>{{ info?.nodeUrl }}</p>
        <span class="custom-underline"></span>
    </div>
    <div>
        <p><b>Peers</b></p>
        <p>{{ info?.peers }}</p>
        <span class="custom-underline"></span>
    </div>
    <div>
        <p><b>Current Difficulty</b></p>
        <p>{{ info?.currentDifficulty }}</p>
        <span class="custom-underline"></span>
    </div>
    <div>
        <p><b>Blocks Count</b></p>
        <p>{{ info?.blocksCount }}</p>
        <span class="custom-underline"></span>
    </div>
    <div>
        <p><b>Cumulative Difficulty</b></p>
        <p>{{ info?.cumulativeDifficulty }}</p>
        <span class="custom-underline"></span>
    </div>
    <div>
        <p><b>Confirmed Transactions</b></p>
        <p>{{ info?.confirmedTransactions }}</p>
        <span class="custom-underline"></span>
    </div>
    <div>
        <p><b>Pending Transactions</b></p>
        <p>{{ info?.pendingTransactions }}</p>
        <span class="custom-underline"></span>
    </div>
</mat-card>