<mat-list role="list" *ngIf="balance$ | async; let balance;">
    <mat-list-item role="listitem"><b>Address </b>: &nbsp; <a [routerLink]="['/', 'address', address]">{{ address }}</a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem"><b>Safe balance </b>: {{ balance.safeBalance }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem"><b>Confirmed balance </b>: {{ balance.confirmedBalance }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem"><b>Pending balance </b>: {{ balance.pendingBalance }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
        <div>
            <b>Transactions:</b>
            <a *ngFor="let tx of txs$ | async" mat-line [routerLink]="['/', 'transactions', tx.transactionDataHash]">{{tx.transactionDataHash}}</a>
        </div>
    </mat-list-item>
</mat-list>