<div id="wallet-container">
    <mat-card>
        <mat-tab-group (selectedTabChange)="onNavigate($event)" [selectedIndex]="activeLinkIndex">
            <mat-tab label="Create new wallet">
                <app-wallet-creation></app-wallet-creation>
            </mat-tab>
            <mat-tab label="Open wallet from mnemonic">
                <app-wallet-open></app-wallet-open>
            </mat-tab>
            <mat-tab *ngIf="isMnemonicInStorage" label="Login current wallet">
                <app-wallet-login></app-wallet-login>
            </mat-tab>
            <mat-tab *ngIf="isHdWalletLoaded" label="Account balance">
                <app-wallet-balance></app-wallet-balance>
            </mat-tab>
            <mat-tab *ngIf="isHdWalletLoaded" label="Send transaction">
                <app-wallet-transaction></app-wallet-transaction>
            </mat-tab>
            <mat-tab *ngIf="isHdWalletLoaded" label="Logout">
                <app-wallet-logout></app-wallet-logout>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
