<ul>
    <li *ngFor="let item of blockDetails | keyvalue">
        <div *ngIf="item.key !== 'transactions'">
            <b>{{item.key}}</b>: <b>{{item.value}}</b>
        </div>
        <div *ngIf="item.key === 'transactions'">
            <div *ngFor="let tx of item.value">
                <ul>
                    <b>{{item.key}}</b>:
                    <li *ngFor="let tx of item.value" (click)="openTxDetailsDialog(tx.transactionDataHash)">
                        {{tx.transactionDataHash}}
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>
