<ul>
    <li *ngFor="let item of tx | keyvalue">
        <div *ngIf="item.key !== 'minedInBlockIndex' && item.key !== 'from' && item.key !== 'to'">
            <b>{{item.key}}</b>: <b>{{item.value}}</b>
        </div>
        <div *ngIf  ="item.key === 'minedInBlockIndex'">
            <b>{{item.key}}</b>: <a [routerLink]="['/', 'blocks', tx.minedInBlockIndex]">{{ item.value }}</a>
        </div>
        <div *ngIf="item.key === 'from' || item.key === 'to'">
            <b>{{item.key}}</b>: <a [routerLink]="['/', 'address', item.value]">{{ item.value }}</a>
        </div>
    </li>
</ul>